*, *::before, *::after {
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}
  
body {
  margin: 0;
}

:root {
--v1: #be91c6;
--v2: #8a65cc;
--v3: #5e30d9;
--transparentv3: #5e30d900;
--v4: #3b1895;
--s1: #fea798;
--s2: #ff846e;
--cloud: #fea798;
}

.logo {
  position: absolute;
  top: .5rem;
  left: .5rem;
  width: 5rem;
  height: 5rem;
  z-index: 1;
  border-radius: 50%;
  overflow: hidden;
}

.logo::before {
  content: "";
  background: url(/img/team-seas-logo.png);
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.logo::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background-color: var(--v1);
  bottom: 0;
  left: -50%;
  border-radius: 35%;
  -webkit-animation: waves 5s ease-in-out alternate infinite;
          animation: waves 5s ease-in-out alternate infinite;
}

@-webkit-keyframes waves{
  to {
    -webkit-transform: translateY(-50%) rotate(540deg);
            transform: translateY(-50%) rotate(540deg);
  }
}

@keyframes waves{
  to {
    transform: translateY(-50%) rotate(540deg);
  }
}

.landscape {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--v1)), color-stop(var(--s1)), to(var(--v1)));
  background-image: -o-linear-gradient(var(--v1), var(--s1), var(--v1));
  background-image: linear-gradient(var(--v1), var(--s1), var(--v1));
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.landscape *, .landscape *::before, .landscape *::after {
  position: absolute;
}

.mountain {
  width: 40vmin;
  height: 30vmin;
  bottom: 50%;
  left: -10vmin;
  background: var(--s1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--v1)), color-stop(30%, var(--v2)), to(var(--v3)));
  background-image: -o-linear-gradient(var(--v1), var(--v2) 30%, var(--v3));
  background-image: linear-gradient(var(--v1), var(--v2) 30%, var(--v3));
  border-radius: 180% 80% 0% 0%/60vmin 60vmin 0% 0% ;
  -webkit-box-shadow: inset -10px 0 10px -10px var(--s1);
          box-shadow: inset -10px 0 10px -10px var(--s1);
}

.mountain::before {
  content: "  ";
  bottom: 0;
  width: inherit;
  height: inherit;
  background: inherit;
  border-radius: inherit;
  -webkit-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: scaleX(1) scaleY(-0.6);
  -ms-transform: scaleX(1) scaleY(-0.6);
          transform: scaleX(1) scaleY(-0.6);
  -webkit-filter: blur(3px);
          filter: blur(3px);
}

.mountain-2 {
  left: 5vmin;
  width: 40vmin;
  height: 15vmin;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--v3)), to(var(--v4)));
  background-image: -o-linear-gradient(var(--v3), var(--v4));
  background-image: linear-gradient(var(--v3), var(--v4));
  border-radius: 120% 50% 0% 0%/25vmin 25vmin 0% 0%;
  -webkit-box-shadow: inset -15px 0 10px -14px var(--s1);
          box-shadow: inset -15px 0 10px -14px var(--s1);
}

.mountain-3 {
  left: auto;
  right: -25vmin;
  width: 40vmin;
  height: 12vmin;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--s1)), to(var(--v4)));
  background-image: -o-linear-gradient(var(--s1), var(--v4));
  background-image: linear-gradient(var(--s1), var(--v4));
  border-radius: 80% 0% 0 0/100% 100% 0 0;
  -webkit-box-shadow: inset 15px 0 10px -10px var(--s1);
          box-shadow: inset 15px 0 10px -10px var(--s1);
}

.sun-container {
  overflow: hidden;
  width: 100%;
  height: 50%;
}

.sun-container-1::after{
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: radial-gradient(circle at 60% 100%, var(--s2), transparent);
  animation: fade 20s infinite;
  mix-blend-mode: color-burn;
}

@keyframes fade {
  10% {
    opacity: 1;
  }
  30%, 70% {
    opacity: 0;
  }
}

.sun {
  background: white;
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  top: 100%;
  left: calc(60% - 10vmin);
  box-shadow: 0 0 10px white;
  animation: rise 20s infinite;
}

@keyframes rise{
  100% {
    transform: translate3d(0, -100vh, 0);
  }
}

.sun-container-reflection {
  top: 50%;
  background-image: -o-radial-gradient(60% 10%, circle, var(--s2), transparent);
  background-image: radial-gradient(circle at 60% 10%, var(--s2), transparent);
}

.sun-container-reflection .sun {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0)));;
  background: -o-linear-gradient(white, rgba(255, 255, 255, 0));;
  background: linear-gradient(white, rgba(255, 255, 255, 0));;
  top: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  opacity: 1;
  -webkit-transform: translate3d(0, -20vmin, 0);
          transform: translate3d(0, -20vmin, 0);
  -webkit-animation-name: rise-reflection;
          animation-name: rise-reflection;
}

@-webkit-keyframes rise-reflection {
  30% {
    opacity: 0;
    -webkit-transform: translate3d(0, 5vmin, 0);
            transform: translate3d(0, 5vmin, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, 80vmin, 0);
            transform: translate3d(0, 80vmin, 0)
  }
}

@keyframes rise-reflection {
  30% {
    opacity: 0;
    transform: translate3d(0, 5vmin, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, 100vmin, 0)
  }
}

.cloud {
  width: 80vmin;
  height: 6vmin;
  background: currentColor;
  color: var(--cloud);
  top: 24vmin;
  left: 20vmin;
  border-radius: 50%;
  -webkit-box-shadow: 30vmin 0.5vmin 0 -1vmin currentcolor, -25vmin 0 0 -0.6vmin currentcolor;
          box-shadow: 30vmin 0.5vmin 0 -1vmin currentcolor, -25vmin 0 0 -0.6vmin currentcolor;
  opacity: .3;
  -webkit-transform: translate3d(-150vmin, 0, 0);
          transform: translate3d(-150vmin, 0, 0);
  -webkit-animation: cloud 120s infinite;
          animation: cloud 120s infinite;
  -webkit-animation-delay: -10s;
          animation-delay: -10s;
}

@-webkit-keyframes cloud {
  50% { 
    transform: translate3d(0, 0, 0);
  }
  100% { 
    transform: translate3d(150vmin, 0, 0); 
  }
}

@keyframes cloud {
  50% { 
    transform: translate3d(0, 0, 0);
  }
  100% { 
    transform: translate3d(150vmin, 0, 0); 
  }
}

.cloud-1 {
  top: 15vmin;
  left: 60vmin;
  opacity: .2;
  -webkit-filter: blur(1px);
          filter: blur(1px);
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
}

.light {
  height: .5vmin;
  width: 20vmin;
  background: white;
  left: 20%;
  right: 0;
  margin: 0 auto;
  top: calc(50% + 1vmin);
  -webkit-transform: scaleX(0.1) translate3d(0, 0, 0);
          transform: scaleX(0.1) translate3d(0, 0, 0); 
  -webkit-filter: blur(1px); 
          filter: blur(1px);
  opacity: 0;
  -webkit-animation: light 20s infinite;
          animation: light 20s infinite;
  border-radius: 50vh;
}

@-webkit-keyframes light {
  5% {
    opacity: 1;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  10% {
    opacity: 0.6;
    -webkit-transform: scaleX(1) translate3d(5%, 0, 0);
            transform: scaleX(1) translate3d(5%, 0, 0);
  }
  15% {
    opacity: 0.6;
    -webkit-transform: scaleX(1) translate3d(-5%, 0, 0);
            transform: scaleX(1) translate3d(-5%, 0, 0);
  }
  20% {
    opacity: 0;
    -webkit-transform: scaleX(0.1) translate3d(0, 0, 0);
            transform: scaleX(0.1) translate3d(0, 0, 0);
  }
}

@keyframes light {
  5% {
    opacity: 1;
    transform: scaleX(1);
  }
  10% {
    opacity: 0.6;
    transform: scaleX(1) translate3d(5%, 0, 0);
  }
  15% {
    opacity: 0.6;
    transform: scaleX(1) translate3d(-5%, 0, 0);
  }
  20% {
    opacity: 0;
    transform: scaleX(0.1) translate3d(0, 0, 0);
  }
}

.light-1 {
  top: calc(50% + 2vmin);
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.light-2 {
  top: calc(50% + 3vmin);
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.light-3 {
  top: calc(50% + 4vmin);
  width: 18vmin;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.light-4 {
  top: calc(50% + 5vmin);
  width: 16vmin;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.light-5 {
  top: calc(50% + 6vmin);
  width: 14vmin;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.light-6 {
  top: calc(50% + 7vmin);
  width: 10vmin;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.light-7 {
  top: calc(50% + 8vmin);
  width: 12vmin;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
}
.water  {
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#fea79855), to(var(--v2)));
  background: -o-linear-gradient(#fea79855, var(--v2));
  background: linear-gradient(#fea79855, var(--v2));
  overflow: hidden;
  -webkit-box-shadow: inset 0 1px 4px -3px white;
          box-shadow: inset 0 1px 4px -3px white;
}

.splash {
  width: 8vmin;
  height: 3vmin;
  border: 2px solid var(--s1);  
  -webkit-box-shadow: 0 0 2px var(--s1);  
          box-shadow: 0 0 2px var(--s1);
  border-radius: 50%;
  bottom: 5vmin;
  left: 70%;
  -webkit-animation: splash 9s infinite;
  animation: splash 9s infinite;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.delay-1 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.delay-2 {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.delay-3 {
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.delay-4 {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

.splash-4 {
  right: 0;
  left: auto;
  bottom: 15vmin;
}

.splash-stone {
  left: -3vmin;
  bottom: 15vh;
  width: 30vmin;
  height: 10vmin;
}

@-webkit-keyframes splash {
  50%, 100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1)
  }
}

@keyframes splash {
  50%, 100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1)
  }
}

.lotus {
  width: 10vmin;
  height: 5vmin;
  border-radius: 50%;
  background: conic-gradient(var(--v3) 0deg 40deg, var(--transparentv3) 50deg 70deg, var(--v3) 80deg);
}

.lotus-1 {
  bottom: 10vmin;
  right: 5vmin;
  width: 20vmin;
}

.lotus-2 {
  bottom: 20vmin;
  right: 15vmin;
  height: 3vmin;
  opacity: .3;
  mix-blend-mode: multiply;
  -webkit-transform: skew(-10deg);
      -ms-transform: skew(-10deg);
          transform: skew(-10deg);
}

.lotus-3 {
  bottom: 10vmin;
  right: 35vmin;
  width: 15vmin;
  opacity: .8;
  -webkit-transform: rotate(180deg) skew(-10deg);
      -ms-transform: rotate(180deg) skew(-10deg);
          transform: rotate(180deg) skew(-10deg);
}

.front {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.stone {
  bottom: -5vh;
  left: 0;
  height: 20vmin;
  width: 40vmin;
  background: var(--v4);
  -webkit-box-shadow: inset 0 0 20px -5px rgb(0 0 0 / 20%);
          box-shadow: inset 0 0 20px -5px rgb(0 0 0 / 20%);
  border-radius: 0% 200% 0 0/0% 200%;
}

.stone::after {
  content: "";
  background: var(--v3);
  width: 100%;
  height: 100%;
  right: -15%;
  border-radius: inherit;
  z-index: -1;
  -webkit-transform: scaleX(1.3) skew(10deg);
      -ms-transform: scaleX(1.3) skew(10deg);
          transform: scaleX(1.3) skew(10deg);
  -webkit-box-shadow: inset 0 0 20px -5px rgb(0 0 0 / 40%);
          box-shadow: inset 0 0 20px -5px rgb(0 0 0 / 40%);
}

.grass {
  height: 40vmin;
  width: 10vmin;
  bottom: 0;
  border-right: 5px solid var(--v4);
  border-radius: 0 60% 0 0/0 100% 0 0;
  -webkit-box-shadow: 1px 0 0 var(--s1);
          box-shadow: 1px 0 0 var(--s1);
  -webkit-filter: drop-shadow(-0.5vmin 6vmin 0 var(--s2)) drop-shadow(-4.5vmin 10vmin 0 var(--v3));
          filter: drop-shadow(-0.5vmin 6vmin 0 var(--s2)) drop-shadow(-4.5vmin 10vmin 0 var(--v3));
}

.grass-1 {
  left: 14vmin;
  bottom: -2vmin;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
  -webkit-box-shadow: 2px 0 0 var(--v4);
          box-shadow: 2px 0 0 var(--v4);
  -webkit-filter: drop-shadow(-1vmin 5vmin 0 var(--v3)) drop-shadow(-80vmin 5vmin 0 var(--v4));
          filter: drop-shadow(-1vmin 5vmin 0 var(--v3)) drop-shadow(-80vmin 5vmin 0 var(--v4));
}

.grass-2 {
  right: 0;
  left: auto;
  height: 20vmin;
  bottom: -2vmin;
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
}

.reed {
  height: 40vmin;
  width: 0.5vmin;
  bottom: 0;
  left: 10vmin;
  color: var(--v4);
  background: currentcolor;
  -webkit-box-shadow: inset -1px 0 0 var(--s2), -6vmin 3vmin 0 0, 80vmin 0 0 0;
          box-shadow: inset -1px 0 0 var(--s2), -6vmin 3vmin 0 0, 80vmin 0 0 0;
  -webkit-transform-origin: bottom center;
      -ms-transform-origin: bottom center;
          transform-origin: bottom center;
  -webkit-transform: rotate(4deg);
      -ms-transform: rotate(4deg);
          transform: rotate(4deg);
  -webkit-animation: verticalise 20s infinite;
          animation: verticalise 20s infinite;
}

.reed:after {
  content: "";
  top: 0;
  left: -0.5vmin;
  width: 1.5vmin;
  height: 10vmin;
  background: currentcolor;
  border-radius: 0.75vmin;
  -webkit-box-shadow: inherit;
          box-shadow: inherit;
}

.reed-1 {
  height: 50vmin;
  left: 15vmin;
  bottom: -5vmin;
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
  color: var(--cloud);
  background: currentcolor;
  -webkit-box-shadow: inset -1px 0 0 var(--s2), 6vmin 13vmin 0 0 var(--s1), 80vmin 10vmin 0 0 var(--v3);
          box-shadow: inset -1px 0 0 var(--s2), 6vmin 13vmin 0 0 var(--s1), 80vmin 10vmin 0 0 var(--v3);
  -webkit-animation: verticalise-1 20s infinite;
          animation: verticalise-1 20s infinite;
}

@-webkit-keyframes verticalise {
  0%, 10%{
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  30% ,70%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes verticalise {
  0%, 10%{
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  30% ,70%{
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes verticalise-1 {
  0%, 10%{
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  45% ,70%{
    -webkit-transform: rotate(0deg) translateY(-6vmin);
            transform: rotate(0deg) translateY(-6vmin);
  }
}

@keyframes verticalise-1 {
  0%, 10%{
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  45% ,70%{
    -webkit-transform: rotate(0deg) translateY(-6vmin);
            transform: rotate(0deg) translateY(-6vmin);
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  display: inherit;
  width: 135vmin;
  height: 72vmin;
  backdrop-filter: blur(10px);
}

.header {
  width: 40%;
  height: 100%;
  display: flex;
  float: left;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid #3b18953d;
}

.header .imgBx {
  width: 20vmin;
  height: 20vmin;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.header .imgBx img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header h2 {
  margin-top: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
}

.header p {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

.header ul {
  width: 100%;
  text-align: center;
  padding: 0;
}

.header ul li {
  list-style-type: none;
  padding: 5vmin;
}

.header ul li a{
  color: #000;
  text-decoration: none;
}

.header ul li:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  animation: zoom 2s ease-in-out infinite;
}

.header ul li:hover a {
  color: #fff;
}


@keyframes zoom{
  0%{
    -webkit-transform:scaleX(1);
    transform:scaleX(1)
  }
  50%{
    -webkit-transform:scale3d(1.05,1.05,1.05);
    transform:scale3d(1.05,1.05,1.05)
  }
  to{
    -webkit-transform:scaleX(1);
    transform:scaleX(1)
  }
}

.skill {
  position: relative;
  width: 60%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.skill .row {
  position: relative;
  width: calc(100% - 40px);
  min-height: 70px;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
  display: flex;
  overflow: hidden;
}

.row .imgBx {
  position: relative;
  width: 20%;
  height: 100%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.row .imgBx img {
  width: 40px;
}

.row:nth-child(2) .imgBx img,
.row:nth-child(3) .imgBx img {
  width: 40px;
}

.row .textBx {
  position: relative;
  width: 80%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.row .textBx .text {
  display: flex;
  justify-content: space-between;
}

.row .textBx .text p {
  font-size: 18px;
  letter-spacing: 1px;
}

.row .textBx .text span {
  font-size: 18px;
  font-weight: 500;
}

.row .textBx .bar {
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 15px;
  background: rgba(255, 255, 255, .3);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  overflow: hidden;
}

.row .textBx .bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.row:nth-child(1) .textBx .bar::before {
  width: 90%;
  background: #e44026;
}

.row:nth-child(2) .textBx .bar::before {
  width: 70%;
  background: #167386;
}

.row:nth-child(3) .textBx .bar::before {
  width: 50%;
  background: #ffff00;
}